# Core functionality - changes here should be rare!
/src/app.py                   @AjineshDharmarajI
/src/backend/database.py      @AjineshDharmarajI
/src/backend/routers/auth.py  @AjineshDharmarajI

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AjineshDharmarajI
